* {
    margin: 0;
    padding: 0;
}

body {
  font-family: 'anek Malayalam';
    font-size: 1em;
    line-height: 1.4;
}

h1 {
   font-family: 'Playfair Display';
   font-size: 40px;
   font-weight: normal;
      font-style: normal;
      line-height: 0.7em;
}

h2 {
   font-family: 'thesignature';
   font-size: 50px;
   font-weight: normal;
      font-style: normal;
      line-height: 0.2em;
      color: rgba(168,156,136);
}

h3 {
   font-family: 'Playfair Display';
   font-size: 30px;
   font-weight: normal;
      font-style: normal;
      line-height: 0.6em;
}

h4 {
   font-family: 'thesignature';
   font-size: 40px;
   font-weight: normal;
      font-style: normal;
      line-height: 0.1em;
      color: rgba(240,223,193);
}

.headerimg {
  /* The image used */
  background-image: url("img/header.png");

  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}

/* Position the navbar container inside the image */
.container {
  position: absolute;
  width: 100%;
}
/* Add a black background color to the top navigation */
.nav {
  position: relative;
  background-color: rgba(247,241,238,0.75);
  overflow: hidden;
  padding: 20px 0;
  padding-left: 400px;
}

/* Style the links inside the navigation bar */
.nav-left a{
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav-right a{
  float: right;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.nav-left a:hover {
  text-decoration: underline;
}

.nav-right a:hover {
  text-decoration: underline;
}

/* Add a color to the active/current link */
.nav-left a.active {
  background-color: #04AA6D;
  color: white;
}

.nav-right a.active {
  background-color: #04AA6D;
  color: white;
}
/* Centered section inside the top navigation */
.nav-centered {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.nav-right {
  float: right;
  padding-right: 400px;
}
.box1 {
  display: flex;
  flex-wrap; wrap;
  padding: 40px 200px;
  text-align: center;
  background-color: rgba(247,241,238);
}

.box2 {
  display: flex;
  flex-wrap; wrap;
  padding: 40px 200px;
  text-align: center;
  background-color: rgba(224,217,209);
}

.box3 {
  display: flex;
  flex-wrap; wrap;
  padding: 40px 200px;
  text-align: center;
  background-color: rgba(196,193,183);
}
.box1 > * {
  flex-basis: 100%;
}
.box2 > * {
  flex-basis: 100%;
}
.box3 > * {
  flex-basis: 100%;
}

.pic {
  width: 100%;
  max-width: 329px;
  height: auto;
}

.footerbox {
  display: flex;
  flex-wrap; wrap;
  padding: 40px 200px;
  text-align: center;
  background-color: rgba(168,163,157);
  box-shadow: 0 -10px 20px -5px rgba(115,115,115,0.75);
}

.footerbox > * {
  flex-basis: 100%;
}

.footerpic {
  width: 100%;
  max-width: 400px;
  height: auto;
}

a{
  color: #000000;
  text-decoration: none;
}

/* Change the color of links on hover */
a:hover {
  text-decoration: underline;
}

/* Add a color to the active/current link */
a.active {
  background-color: #04AA6D;
  color: white;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 1200px) {
  .nav-centered {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
  .box1 {
    padding: 20px 100px;
  }

  .box2 {
    padding: 20px 100px;
  }

  .box3 {
    padding: 20px 100px;
  }
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 550px) {
  .nav a, .nav-right {
    float: none;
    display: block;
    padding-right: 0px;
    padding: 5px;
  }
  .nav {
    padding-left: 0px;
  }

  .nav-centered {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
  .box1 {
    padding: 20px 20px;
  }

  .box2 {
    padding: 20px 20px;
  }

  .box3 {
    padding: 20px 20px;
  }
}
